// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower


html, body {
  height: 100%;
  padding: 0;
}

.content {
  height: 100%;
}

.background {
  background-color: #EEEEEE;
}
md-card{
  margin: 40px;
}